In [144]:
from fastai.tabular.all import *

In [145]:
learn = load_learner("./model")

In [146]:
rankings = pd.read_csv('./datasets/fifa_ranking.csv')
rankings = rankings.loc[:,['rank', 'country_full', 'country_abrv', 'cur_year_avg_weighted', 'rank_date', 
                           'two_year_ago_weighted', 'three_year_ago_weighted']]
rankings.country_full.replace("^IR Iran*", "Iran", regex=True, inplace=True)
rankings['weighted_points'] =  rankings['cur_year_avg_weighted'] + rankings['two_year_ago_weighted'] + rankings['three_year_ago_weighted']
rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])

rankings = rankings.set_index(['rank_date'])\
                    .groupby(['country_full'],group_keys = False)\
                    .resample('D').first()\
                    .fillna(method='ffill')\
                    .reset_index()
rankings.head()

,rank_date,rank,country_full,country_abrv,cur_year_avg_weighted,two_year_ago_weighted,three_year_ago_weighted,weighted_points
0,2003-01-15,204.0,Afghanistan,AFG,0.0,0.0,0.0,0.0
1,2003-01-16,204.0,Afghanistan,AFG,0.0,0.0,0.0,0.0
2,2003-01-17,204.0,Afghanistan,AFG,0.0,0.0,0.0,0.0
3,2003-01-18,204.0,Afghanistan,AFG,0.0,0.0,0.0,0.0
4,2003-01-19,204.0,Afghanistan,AFG,0.0,0.0,0.0,0.0

In [147]:
world_cup18 = pd.read_csv("./datasets/World Cup 2018 Dataset.csv")
world_cup18 = world_cup18.loc[:, ['Team', 'Group', 'First match \nagainst', 'Second match\n against', 'Third match\n against']]
world_cup18 = world_cup18.dropna(how='all')
world_cup18 = world_cup18.replace({"IRAN": "Iran", 
                               "Costarica": "Costa Rica", 
                               "Porugal": "Portugal", 
                               "Columbia": "Colombia", 
                               "Korea" : "Korea Republic"})
world_cup18 = world_cup18.set_index('Team')
world_cup18.head()

,Group,First match \nagainst,Second match\n against,Third match\n against
Team,,,,
Russia,A,Saudi Arabia,Egypt,Uruguay
Saudi Arabia,A,Russia,Uruguay,Egypt
Egypt,A,Uruguay,Russia,Saudi Arabia
Uruguay,A,Egypt,Saudi Arabia,Russia
Portugal,B,Spain,Morocco,Iran

In [148]:
world_cup_rankings = rankings.loc[(rankings['rank_date'] == rankings['rank_date'].max()) & 
                                    rankings['country_full'].isin(world_cup18.index.unique())]
world_cup_rankings = world_cup_rankings.set_index(['country_full'])
world_cup_rankings

,rank_date,rank,country_abrv,cur_year_avg_weighted,two_year_ago_weighted,three_year_ago_weighted,weighted_points
country_full,,,,,,,
Argentina,2018-06-07,5.0,ARG,404.07,248.99,183.59,836.65
Australia,2018-06-07,36.0,AUS,366.60,98.16,59.79,524.55
Belgium,2018-06-07,3.0,BEL,629.98,158.94,186.58,975.50
Brazil,2018-06-07,2.0,BRA,558.95,168.06,162.38,889.39
Colombia,2018-06-07,16.0,COL,292.09,199.73,166.38,658.20
Costa Rica,2018-06-07,23.0,CRC,410.90,99.73,133.11,643.74
Croatia,2018-06-07,20.0,CRO,397.75,100.79,110.25,608.79
Denmark,2018-06-07,12.0,DEN,723.72,90.07,80.21,894.00
Egypt,2018-06-07,45.0,EGY,208.27,99.48,50.64,358.39
England,2018-06-07,12.0,ENG,476.42,174.15,103.52,754.09
France,2018-06-07,7.0,FRA,520.12,118.09,131.54,769.75
Germany,2018-06-07,1.0,GER,775.06,127.28,240.15,1142.49
Iceland,2018-06-07,22.0,ISL,438.64,90.61,96.64,625.89
Iran,2018-06-07,37.0,IRN,290.29,92.40,79.64,462.33
Japan,2018-06-07,61.0,JPN,164.51,81.97,67.78,314.26
Korea Republic,2018-06-07,57.0,KOR,162.13,91.79,65.96,319.88
Mexico,2018-06-07,15.0,MEX,470.55,173.99,91.51,736.05
Morocco,2018-06-07,41.0,MAR,369.10,110.03,34.09,513.22
Nigeria,2018-06-07,48.0,NGA,251.21,59.46,70.00,380.67
Panama,2018-06-07,55.0,PAN,276.92,97.89,41.86,416.67
Peru,2018-06-07,11.0,PER,560.36,126.58,44.40,731.34
Poland,2018-06-07,8.0,POL,499.90,112.55,121.69,734.14
Portugal,2018-06-07,4.0,POR,646.92,155.33,125.53,927.78
Russia,2018-06-07,70.0,RUS,166.07,108.68,73.70,348.45
Saudi Arabia,2018-06-07,67.0,KSA,143.89,114.27,27.02,285.18
Senegal,2018-06-07,27.0,SEN,368.23,84.09,116.99,569.31
Serbia,2018-06-07,34.0,SRB,417.12,91.57,38.50,547.19
Spain,2018-06-07,10.0,ESP,537.05,193.92,88.80,819.77
Sweden,2018-06-07,24.0,SWE,478.44,111.03,74.44,663.91
Switzerland,2018-06-07,6.0,SUI,578.59,101.43,114.42,794.44
Tunisia,2018-06-07,21.0,TUN,545.56,68.28,98.68,712.52
Uruguay,2018-06-07,14.0,URU,486.28,168.44,119.85,774.57

In [149]:
wm18_results = pd.read_csv('./datasets/WM2018Result.csv')
wm18_results = wm18_results.loc[:,["HomeTeam", "AwayTeam", "Group", "HomeTeamScore", "AwayTeamScore"]]
wm18_results = wm18_results[wm18_results.Group.isnull() == False]

# 0: home won, 1: away won, 2: draw
wm18_results["IsHomeWin"] = (wm18_results.HomeTeamScore - wm18_results.AwayTeamScore) > 0
wm18_results["IsDraw"] = (wm18_results.HomeTeamScore - wm18_results.AwayTeamScore) == 0
wm18_results

,HomeTeam,AwayTeam,Group,HomeTeamScore,AwayTeamScore,IsHomeWin,IsDraw
0,Russia,Saudi Arabia,Group A,5,0,True,False
1,Egypt,Uruguay,Group A,0,1,False,False
2,Morocco,Iran,Group B,0,1,False,False
3,Portugal,Spain,Group B,3,3,False,True
4,France,Australia,Group C,2,1,True,False
5,Argentina,Iceland,Group D,1,1,False,True
6,Peru,Denmark,Group C,0,1,False,False
7,Croatia,Nigeria,Group D,2,0,True,False
8,Costa Rica,Serbia,Group E,0,1,False,False
9,Germany,Mexico,Group F,0,1,False,False
10,Brazil,Switzerland,Group E,1,1,False,True
11,Sweden,Korea Republic,Group F,1,0,True,False
12,Belgium,Panama,Group G,3,0,True,False
13,Tunisia,England,Group G,1,2,False,False
14,Colombia,Japan,Group H,1,2,False,False
15,Poland,Senegal,Group H,1,2,False,False
16,Russia,Egypt,Group A,3,1,True,False
17,Portugal,Morocco,Group B,1,0,True,False
18,Uruguay,Saudi Arabia,Group A,1,0,True,False
19,Iran,Spain,Group B,0,1,False,False
20,Denmark,Australia,Group C,1,1,False,True
21,France,Peru,Group C,1,0,True,False
22,Argentina,Croatia,Group D,0,3,False,False
23,Brazil,Costa Rica,Group E,2,0,True,False
24,Nigeria,Iceland,Group D,2,0,True,False
25,Serbia,Switzerland,Group E,1,2,False,False
26,Belgium,Tunisia,Group G,5,2,True,False
27,Korea Republic,Mexico,Group F,1,2,False,False
28,Germany,Sweden,Group F,2,1,True,False
29,England,Panama,Group G,6,1,True,False
30,Japan,Senegal,Group H,2,2,False,True
31,Poland,Colombia,Group H,0,3,False,False
32,Uruguay,Russia,Group A,3,0,True,False
33,Saudi Arabia,Egypt,Group A,2,1,True,False
34,Iran,Portugal,Group B,1,1,False,True
35,Spain,Morocco,Group B,2,2,False,True
36,Denmark,France,Group C,0,0,False,True
37,Australia,Peru,Group C,0,2,False,False
38,Nigeria,Argentina,Group D,1,2,False,False
39,Iceland,Croatia,Group D,1,2,False,False
40,Mexico,Sweden,Group F,0,3,False,False
41,Korea Republic,Germany,Group F,2,0,True,False
42,Serbia,Brazil,Group E,0,2,False,False
43,Switzerland,Costa Rica,Group E,2,2,False,True
44,Japan,Poland,Group H,0,1,False,False
45,Senegal,Colombia,Group H,0,1,False,False
46,Panama,Tunisia,Group G,1,2,False,False
47,England,Belgium,Group G,0,1,False,False

In [156]:
from itertools import combinations

opponents = ['First match \nagainst', 'Second match\n against', 'Third match\n against']

world_cup18['points'] = 0
world_cup18['total_prob'] = 0
wm18_results['PredHomeWin'] = False
wm18_results['PredDraw'] = False

margin = 0.0

for group in set(world_cup18['Group']):
    for home, away in combinations(world_cup18.query('Group =="{}"'.format(group)).index, 2):
        row = pd.DataFrame(np.array([[]]))
        home_rank = world_cup_rankings.loc[home, 'rank']
        home_points = world_cup_rankings.loc[home, 'weighted_points']
        opp_rank = world_cup_rankings.loc[away, 'rank']
        opp_points = world_cup_rankings.loc[away, 'weighted_points']
        row['average_rank'] = (home_rank + opp_rank) / 2
        row['rank_difference'] = home_rank - opp_rank
        row['point_difference'] = home_points - opp_points
        row['is_stake'] = True
        row['neutral'] = False
        row['home_team'] = home
        row['away_team'] = away

        dl = learn.dls.test_dl(row, bs=1)
        preds, _ = learn.get_preds(dl=dl)

        home_win_prob = preds.numpy()[0][1]
        world_cup18.loc[home, 'total_prob'] += home_win_prob
        world_cup18.loc[away, 'total_prob'] += 1-home_win_prob
        
        points = 0
        if home_win_prob <= 0.5 - margin:
            world_cup18.loc[away, 'points'] += 3
        if home_win_prob > 0.5 - margin:
            points = 1
        if home_win_prob >= 0.5 + margin:
            points = 3
            world_cup18.loc[home, 'points'] += 3
            wm18_results.loc[(wm18_results.HomeTeam==home) & (wm18_results.AwayTeam==away), 'PredHomeWin'] = True
        if points == 1:
            wm18_results.loc[(wm18_results.HomeTeam==home) & (wm18_results.AwayTeam==away), 'PredDraw'] = True
            world_cup18.loc[home, 'points'] += 1
            world_cup18.loc[away, 'points'] += 1

In [157]:
world_cup18

,Group,First match \nagainst,Second match\n against,Third match\n against,points,total_prob
Team,,,,,,
Russia,A,Saudi Arabia,Egypt,Uruguay,0,0.981480
Saudi Arabia,A,Russia,Uruguay,Egypt,3,1.193047
Egypt,A,Uruguay,Russia,Saudi Arabia,6,1.551730
Uruguay,A,Egypt,Saudi Arabia,Russia,9,2.273744
Portugal,B,Spain,Morocco,Iran,6,1.569453
Spain,B,Portugal,Iran,Morocco,9,2.065388
Morocco,B,Iran,Portugal,Spain,0,0.989692
Iran,B,Morocco,Spain,Portugal,3,1.375466
France,C,Australia,Peru,Denmark,9,1.908203
Australia,C,France,Denmark,Peru,6,1.455542
Peru,C,Denmark,France,Australia,0,1.195801
Denmark,C,Peru,Australia,France,3,1.440454
Argentina,D,Iceland,Croatia,Nigeria,9,2.090734
Iceland,D,Argentina,Nigeria,Croatia,0,0.903121
Croatia,D,Nigeria,Argentina,Iceland,6,1.691192
Nigeria,D,Croatia,Iceland,Argentina,3,1.314953
Brazil,E,Switzerland,Costa Rica,Serbia,9,2.393643
Switzerland,E,Brazil,Serbia,Costa Rica,6,1.381143
Costa Rica,E,Serbia,Brazil,Switzerland,0,1.037738
Serbia,E,Costa Rica,Switzerland,Brazil,3,1.187476
Germany,F,Mexico,Sweden,Korea Republic,9,1.861650
Mexico,F,Germany,Korea Republic,Sweden,3,1.601264
Sweden,F,Korea Republic,Germany,Mexico,6,1.512524
Korea Republic,F,Sweden,Mexico,Germany,0,1.024562
Belgium,G,Panama,Tunisia,England,6,1.526580
Panama,G,Belgium,England,Tunisia,0,0.964189
Tunisia,G,England,Belgium,Panama,3,1.157401
England,G,Tunisia,Panama,Belgium,9,2.351830
Poland,H,Senegal,Colombia,Japan,0,1.249209
Senegal,H,Poland,Japan,Colombia,3,1.185181
Colombia,H,Japan,Poland,Senegal,9,2.107963
Japan,H,Colombia,Senegal,Poland,6,1.457648

In [158]:
wm18_results["CorrectPred"] = False
wm18_results.loc[(wm18_results.IsHomeWin == wm18_results.PredHomeWin) & (wm18_results.IsDraw == wm18_results.PredDraw), "CorrectPred"] = True
wm18_results

,HomeTeam,AwayTeam,Group,HomeTeamScore,AwayTeamScore,IsHomeWin,IsDraw,PredHomeWin,PredDraw,CorrectPred
0,Russia,Saudi Arabia,Group A,5,0,True,False,False,False,False
1,Egypt,Uruguay,Group A,0,1,False,False,False,False,True
2,Morocco,Iran,Group B,0,1,False,False,False,False,True
3,Portugal,Spain,Group B,3,3,False,True,False,False,False
4,France,Australia,Group C,2,1,True,False,True,False,True
5,Argentina,Iceland,Group D,1,1,False,True,True,False,False
6,Peru,Denmark,Group C,0,1,False,False,False,False,True
7,Croatia,Nigeria,Group D,2,0,True,False,True,False,True
8,Costa Rica,Serbia,Group E,0,1,False,False,False,False,True
9,Germany,Mexico,Group F,0,1,False,False,True,False,False
10,Brazil,Switzerland,Group E,1,1,False,True,True,False,False
11,Sweden,Korea Republic,Group F,1,0,True,False,True,False,True
12,Belgium,Panama,Group G,3,0,True,False,True,False,True
13,Tunisia,England,Group G,1,2,False,False,False,False,True
14,Colombia,Japan,Group H,1,2,False,False,True,False,False
15,Poland,Senegal,Group H,1,2,False,False,False,False,True
16,Russia,Egypt,Group A,3,1,True,False,False,False,False
17,Portugal,Morocco,Group B,1,0,True,False,True,False,True
18,Uruguay,Saudi Arabia,Group A,1,0,True,False,False,False,False
19,Iran,Spain,Group B,0,1,False,False,False,False,True
20,Denmark,Australia,Group C,1,1,False,True,False,False,False
21,France,Peru,Group C,1,0,True,False,True,False,True
22,Argentina,Croatia,Group D,0,3,False,False,True,False,False
23,Brazil,Costa Rica,Group E,2,0,True,False,True,False,True
24,Nigeria,Iceland,Group D,2,0,True,False,False,False,False
25,Serbia,Switzerland,Group E,1,2,False,False,False,False,True
26,Belgium,Tunisia,Group G,5,2,True,False,True,False,True
27,Korea Republic,Mexico,Group F,1,2,False,False,False,False,True
28,Germany,Sweden,Group F,2,1,True,False,True,False,True
29,England,Panama,Group G,6,1,True,False,False,False,False
30,Japan,Senegal,Group H,2,2,False,True,False,False,False
31,Poland,Colombia,Group H,0,3,False,False,False,False,True
32,Uruguay,Russia,Group A,3,0,True,False,False,False,False
33,Saudi Arabia,Egypt,Group A,2,1,True,False,False,False,False
34,Iran,Portugal,Group B,1,1,False,True,False,False,False
35,Spain,Morocco,Group B,2,2,False,True,True,False,False
36,Denmark,France,Group C,0,0,False,True,False,False,False
37,Australia,Peru,Group C,0,2,False,False,True,False,False
38,Nigeria,Argentina,Group D,1,2,False,False,False,False,True
39,Iceland,Croatia,Group D,1,2,False,False,False,False,True
40,Mexico,Sweden,Group F,0,3,False,False,False,False,True
41,Korea Republic,Germany,Group F,2,0,True,False,False,False,False
42,Serbia,Brazil,Group E,0,2,False,False,False,False,True
43,Switzerland,Costa Rica,Group E,2,2,False,True,True,False,False
44,Japan,Poland,Group H,0,1,False,False,False,False,True
45,Senegal,Colombia,Group H,0,1,False,False,False,False,True
46,Panama,Tunisia,Group G,1,2,False,False,False,False,True
47,England,Belgium,Group G,0,1,False,False,False,False,True

In [159]:
acc = wm18_results[wm18_results.CorrectPred == True].CorrectPred.count() / wm18_results.CorrectPred.count()
print("Accuracy Group Stage: {:.3f}".format(acc))

Accuracy Group Stage: 0.562

In [160]:
wm18_results[wm18_results.IsHomeWin == wm18_results.PredHomeWin].CorrectPred.count() / wm18_results.CorrectPred.count()

0.6666666666666666

In [161]:
wm18_results[wm18_results.IsDraw == wm18_results.PredDraw].CorrectPred.count() / wm18_results.CorrectPred.count()

0.8125